@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: #eaf2fd;
  border-radius: 10px;
  border: 0.25em solid rgb(229, 240, 253);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  margin-block: 0.5em;
}

div {
  display: block;
}

body {
  background-color: #f7f9fc;
  font-family: "roboto-light";
  color: rgb(27, 27, 27);
  line-height: 1.3333;
}

header {
  height: 80;
  width: 100%;
  background-color: #f5f5f5;
  display: block;
}
main {
  display: block;
  width: 100%;
  height: 100%;

}
footer{

}
.main_header_11 {
}
.header_row {
}

.header_row ul li {

}

.Logo {
}
.about {
}
.login {
}
.container_about {
}
.header_main {
}
.header_main svg {

}

.header_subheader {
}
.scroller_about {
}

